html {
    color: white;
    background-color: black;    
}
nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    line-height: 1,5;
    /*justify-content: center;*/
}
nav h1 {
    background-color: chartreuse;
    border: solid 2px gold;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li {
    flex: 1 auto;
    background-color: burlywood;
    list-style-type: none;
    border: solid 2px gold;
    width: auto;
    margin: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
}