html {
    color: white;
    background-color: black;    
}
nav {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    line-height: 1,5;    
}

nav h1 {
    
}

nav ul {
    display: flex;
    flex-wrap: wrap;
}
nav ul li {
    flex: 1 auto;
    list-style-type: none;
    border: solid 1px white;
    width: auto;
    margin: 5px;
    text-align: center;
    font-size: 18px;
    line-height: 1.5;
} 
@media screen and (max-width: 480px) {
    nav {
        display: grid;
        grid-template-columns: 1fr;
        /*align-items: center;*/
        line-height: 1,5;    
    }
    nav ul {
        flex-direction: column;
        
    }
    nav ul li {
        flex: 100%;
        }
  }
